.dropDiv{
    min-height: 150px;
    max-height: 450px;
    overflow-y: auto;
}

.colDiv{
    width: 30%; 
}

/* ***********media queries************* */

@media(max-width:768px){
    .colDiv{
        width: 100%;
    }
}